.container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .carousel-container {
    width: 400px;
    display: flex;
    justify-content: space-around;
  }
  .carousel-images {
    width: 80%;
    padding: 10px;
  }
  .carousel-images img {
    width: 100%;
    display: none;
  }
  .carousel-button {
    align-self: center;
    background: #f2cd99;
    padding: 10px;
    border-radius: 50%;
    text-align: center;
  }
  .carousel-button:hover {
    cursor: pointer;
    box-shadow: 1px 1px #f2cd99;
    color: white;
  }
  
  .carousel-images img:first-of-type {
    display: block;
  }
  
  @media screen and (min-width: 481px) and (max-width: 768px) {
    .carousel-container {
      width: 80%;
      margin: 0 auto;
    }
    .carousel-images {
      width: 90%;
      padding: 10px;
    }
    .carousel-images img {
      width: 70%;
      margin: 0 auto;
      display: none;
    }
    .carousel-images img:first-of-type {
      display: block;
    }
